# Visual Studio cache and temporary files
.vs/
*.pdb
*.exe
*.cache 

# Visual Studio user-specific files
*.suo
*.user
*.userosscache

# C# project files
*.csproj

# Ignore bin and obj directories
bin/
obj/
